body {
  padding-top: 3em;
}

.header-gap {
  height: 50px !important;
}

.navbar .nav-link.active {
  color: #ffc107 !important;
  font-weight: bold;
  text-shadow: 0 0 10px #ffd862;
}

.dropdown-item.disabled {
  color: black;
  font-weight: bold;
}

.nav-pills .nav-link.active {
  background-color: #ffc107;
}

#posts {
  height: fit-content;
}

#crear-post {
  border-radius: 50%;
}

#ficha-header {
  background-image: url("../img/ficha-background.jpg");
  background-position: top;
  background-size: cover;
  /* height: 400px; */
  margin-top: -10px;
  padding-top: 20px;
}

#reparto {
  text-overflow: ellipsis;
}

#post-original-contenido {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal !important;
}

.light-checkbox {
  display: none;
}

.bi-lightbulb,
.bi-lightbulb-fill {
  cursor: pointer;
}

#presentacion-fondo {
  height: 100%;
  background-image: url("/assets/img/background.jpg");
  background-position: center;
  filter: blur(2px);
}

#presentacion {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

#presentacion h1 {
  font-size: 50px;
  text-shadow: 0 0 10px gold;
}

#presentacion a {
  box-shadow: 0 0 10px gold;
}

footer {
  z-index: 100;
}
